---
import Contactanos from "./Contactanos/Contactanos.astro";
import OfertaDeServicios from "./OfertaDeServicios/OfertaDeServicios.astro";
---

<section id="servicios" class="bg-[#395A6E] py-10">
    <OfertaDeServicios />
    <Contactanos />
</section>
