<!doctype html>
<html lang="es">
 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Página no encontrada</title>
 </head>
 <body class="bg-white-0 flex items-center justify-center h-screen">
  <section class="text-center">
   <!-- Icono del enchufe -->
   <div class="flex justify-center">
    <img src="/404.svg" alt="Plug Icon" />
    <img src="/404Text.svg" alt="Plug Icon" />
   </div>
   <!-- Texto del 404 -->
   <p class="text-black-0 font-gabarito font-semibold text-xl">
    Ups! parece que alguien tocó donde no tenía que tocar y nos desconectamos 🤔
   </p>
   <a
    href="/"
    class="font-gabarito bg-blue-0 text-buttonCard w-[250px] h-[50px] text-[25px] rounded-full mx-auto mt-4 font-medium flex items-center justify-center shadow-button-shadow transition-all duration-300 hover:bg-blue-1 hover:shadow-xl hover:text-white-0"
   >
    VOLVER A INICIO</a
   >
  </section>
 </body>
</html>