---
import { ContactForm as ContactFormComponent } from "./ContactForm";
---
<div class="bg-white-0" id="contacto">
  <div  class="max-w-4xl mx-auto px-4 pt-4 pb-14 bg-white-0">
    <h2 class="text-4xl font-semibold text-center font-gabarito text-blue-0 mb-6">
      Contáctanos
    </h2>
    <ContactFormComponent client:load />
  </div>
</div>