<footer class="bg-black-0 p-8 text-white-0 flex flex-col-reverse lg:flex-row justify-between items-center z-40 relative">
    <div class="flex items-center">
        <img src="/logo negro footer.svg">
        <h2 class="text-[40px] ml-2 font-semibold">ForgeXP</h2>
    </div>

    <div class="flex flex-col lg:flex-row lg:space-x-4 space-y-4 lg:space-y-0 items-center lg:items-start mb-6 lg:mb-0">
        <div class="flex space-x-4">
            <div class="flex flex-col items-end">
                <a href="/services/desarrollo">Diseño y desarrollo</a>
                <a href="/services/mantenimiento">Mantenimiento</a>
                <a href="/services/auditoria">Auditoría</a>
            </div>
            
            <div class="w-[3px] h-[120px] bg-white-0 rounded-[2px]"></div>
            
            <div class="flex flex-col md:items-end">
                <a href="/#inicio">Inicio</a>
                <a href="/#servicios">Servicios</a>
                <a href="/#preguntasFrecuentes">Preguntas frecuentes</a>
                <a href="/#nosotros">Nosotros</a>
                <a href="/#contacto">Contacto</a>
            </div>
        </div>
        
        <div class="w-[3px] h-[120px] bg-white-0 rounded-[2px] hidden lg:block"></div>

        <div class="flex flex-col space-y-1 gap-2">
           <!--  <div class="flex items-center space-x-2">
                <img src="/logo instagram.svg">
                <p>@ForgeXP</p>
            </div> -->
            <div class="flex items-center space-x-2">
                <a href="https://www.linkedin.com/company/forgexpit" class="flex items-center space-x-2">
                    <img src="/logo linkedin.svg">
                    <p>ForgeXP</p>
                </a>
            </div>
            <div class="flex items-center space-x-2">
                <img src="/logo gmail.svg">
                <p>forgexperience@gmail.com</p>
            </div>
            <div class="flex items-center space-x-2">
                <img src="/logo telefono.svg">
                <p>+5493492588185</p>
            </div>
        </div>
    </div>
</footer>
